@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-text: 158 179 194;
    --color-background: 33 41 92;
    --color-primary: 28 114 147;
    --color-secondary: 182 187 196;
    --color-accent: 6 90 130;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
